$tree-topbar-height : 90px;

.cnt-tree-wrapper {
    width: 100%;
    height: calc(100% - #{$tree-topbar-height});
    overflow: auto;
    border-top: 1px solid #eee;
}

.cnt-tree-topbar {
    height: $tree-topbar-height;
    padding: 4px;
    h4{
        margin-bottom: 0;
        padding:10px 0;
        font-weight: bold !important;
    }
    input[type=text] {
        border-radius: .28571429rem;
        box-shadow: 0 0 0 0 transparent inset;
        padding: .67861429em 1em;
        background: #fff;
        width:100%;
        border: 1px solid rgba(34,36,38,.15);
    }

}

.cnt-bottom-bar{
    border: 0;
    background-color: #fff;
    &:not(:empty){
         padding: 5px 5px;
    }
    border-bottom: 1px solid #ccc;
    a{
        display: block;
        margin-bottom: 5px;
    }
    h4{
        margin-bottom: 0;
        padding:10px 0;
        font-weight: bold !important;;
        
    }
}

        
        
