$sidebar-width : 300px;
$topbar-height : 30px;

.wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    &.rtl {
        direction: rtl;
    }

    div {
      
    }
    .topbar {
        height: $topbar-height;
        width: 100%;

    }
    .body {
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .sidebar {
        width: $sidebar-width;
        border : 1px solid #ccc;
        height: 100%;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        margin-left: 2px;
      
    }
    .contentBody {
        flex: 1;
        padding:20px 15px;
        width: 100%;
        height: 100%;
        overflow: auto;
        border:1px solid #ccc;
        > h4 {
            font-weight: bold;
        }
    }
}

.WindowModal-button {
    font-family: sans-serif !important;
}
.WindowModal {
.WindowModal-content {
    height: 100%;;
    padding:2px;
    > div {
        width:100%;
        height: 100%;
    }
}
}
